.grid-container {
  position: relative;
}

.add-tile {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #000;
}

.grid-container:hover .add-tile {
  display: block;
}
